<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dsm.yeonso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity" />
        <activity android:name=".SignInActivity">

        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".Personal1Activity" />
        <activity android:name=".Personal2Activity">

        </activity>
        <activity android:name=".Personal3Activity" />
        <activity android:name=".Personal4Activity" />
        <activity android:name=".Personal5Activity" />
        <activity android:name=".Personal6Activity" />
        <activity android:name=".Personal7Activity" />
        <activity android:name=".Personal8Activity" />
        <activity android:name=".Personal9Activity" />
        <activity android:name=".FindIdActivity" />
        <activity android:name=".FindPwActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>